.contacts-section {
  background: linear-gradient(to top, #fff5f6 90%, #ffffff 10%);
  padding-top: 86px;
  padding-bottom: 113px;
}
.contacts-container {
  width: 220px;
  min-height: 427px;
  margin: auto;
}
.card-list__item {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 21px 43px 20px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.card-list__item-category {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
}
.card-list__item-foodtruck {
  background: #c2e297;
  border-radius: 4px;
  width: 130px;
}
.card-inform {
  border-bottom: 1px solid #e1e1e1;
}
.card-inform__city {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}
.card-inform__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;
}
.card-schedule {
  margin-top: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.card-schedule__days {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
}
.card-schedule__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #ffa5ba;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:last-child {
    margin-bottom: 25px;
  }
}
.card-address {
  margin-top: 25px;
}
.address-list__item-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.contact-btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  background: #d41342;
  border-radius: 22px;
  border: none;
  width: 161px;
  height: 44px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 17px 17px;
  margin-top: 54px;
}
.contact-franchise {
  color: #d41443;
  background: #ffffff;
  margin-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
}
.contact-btn__icon-franchise {
  margin-left: 14px;
}
.contact-btn__icon-locations {
  margin-left: 8px;
}
