@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Titan One", sans-serif;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--header-color);
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 100%;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 37px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.header-logo {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-left: -70px;
  }
}

@media screen and (max-width: 1199px) {
  .site-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-list__item:not(:last-child) {
  margin-right: 35px;
}

.site-list__link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-white-color);
}

.site-list__link:hover, .site-list__link:focus {
  color: var(--second-title-color);
}

.site-nav {
  margin-left: 70px;
}

.site-nav .link.curent {
  color: var(--second-title-color);
}

.button {
  height: 44px;
  border: transparent;
  border-radius: 22px;
  background: var(--primary-white-color);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--second-title-color);
  padding-right: 53px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .button {
    min-width: 160px;
    padding-left: 37px;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    min-width: 159px;
    margin-left: auto;
  }
}

.button:hover, .button:focus {
  background: var(--btn-hover-color);
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-open-btn {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.button__icon {
  margin-left: 12px;
}

.hero {
  background-color: #ffb8ca;
  height: 452px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 137px;
  text-align: left;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 399px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 665px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 117px;
  }
}

.overlay {
  background-image: url("../images/hero/heroIceCream-mob.png");
  background-repeat: no-repeat;
  background-position: right 40px bottom 0, right 0 bottom 75px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/hero/heroIceCream-mob@2x.png");
    background-position: right 40px bottom 0, right 0 bottom 75px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: url("../images/hero/heroIceCream-tab.png"), url("../images/hero/heroGirl-tab.png"), url("../images/hero/heroMilk-tab.png");
    background-repeat: no-repeat;
    background-position: left 378px top 63px, right 34px bottom 0, left 34px bottom 28px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/hero/heroIceCream-tab@2x.png"), url("../images/hero/heroGirl-tab@2x.png"), url("../images/hero/heroMilk-tab@2x.png");
    background-position: left 378px top 63px, right 34px bottom 0, left 34px bottom 28px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: url("../images/hero/heroIceCream-desk.png"), url("../images/hero/heroGirl-desk.png"), url("../images/hero/heroMilk-desk.png");
    background-position: right 450px bottom 0, right 109px bottom 0, left 87px bottom 45px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/hero/heroIceCream-desk@2x.png"), url("../images/hero/heroGirl-desk@2x.png"), url("../images/hero/heroMilk-desk@2x.png");
    background-position: right 450px bottom 0, right 109px bottom 0, left 87px bottom 45px;
  }
}

.hero-tittle {
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .hero-tittle {
    font-size: 22px;
    line-height: 1.13;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-tittle {
    font-size: 38px;
    line-height: 1.15;
    margin-bottom: 25px;
  }
}

.hero-tittle__text {
  font-family: Titan One;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.95;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .hero-tittle__text {
    font-size: 34px;
    line-height: 0.91;
  }
}

@media screen and (min-width: 1200px) {
  .hero-tittle__text {
    font-size: 58px;
    line-height: 0.89;
  }
}

.hero-btn__link {
  display: block;
  min-width: 63px;
  height: 24px;
  border-radius: 20px;
  background: #d41443;
  color: #ffffff;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 15px;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .hero-btn__link {
    font-size: 14px;
    line-height: 1.28;
    margin-right: 15px;
    padding: 11px 21px;
    min-width: 104px;
    min-height: 40px;
  }
}

.hero-btn__style {
  display: block;
  min-width: 63px;
  height: 24px;
  border-radius: 20px;
  background: #ffffff;
  color: #d41443;
  text-align: center;
  cursor: pointer;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 15px;
}

@media screen and (min-width: 1200px) {
  .hero-btn__style {
    font-size: 14px;
    line-height: 1.28;
    padding: 11px 21px;
    min-height: 40px;
    min-width: 138px;
  }
}

.hero-btn__link:focus,
.hero-btn__link:hover {
  background: #c7133e;
}

.hero-btn__style:hover,
.hero-btn__style:focus {
  background: #ecebeb;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text {
  font-family: DM Sans;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 767px) {
  .hero__text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__text {
    display: block;
    font-size: 8px;
    line-height: 1.5;
    margin-top: 66px;
    padding-left: 124px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.42;
    margin-top: 112px;
  }
}

.btn-arrow {
  min-width: 18px;
  min-height: 18px;
  margin-top: 10px;
  border: none;
  border: transparent;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 124px;
}

@media screen and (max-width: 767px) {
  .btn-arrow {
    display: none;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
    padding-left: 117px;
    padding-right: 117px;
  }
}

.products-up__text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .products-up__text {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .products-up__text {
    margin-bottom: 15px;
  }
}

.products-up__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 31px;
}

@media screen and (min-width: 768px) {
  .products-up__title {
    margin-bottom: 39px;
    margin-top: 15px;
    font-size: 48px;
    line-height: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .products-up__title {
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products-list__item:not(:last-child) {
  margin-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .products-list__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.products-content {
  text-align: center;
}

.products-content__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 30px;
}

.products-content__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding-left: 44px;
  padding-right: 44px;
}

.cocktail-pink {
  background: #ffb8ca;
  border-radius: 24px;
  position: relative;
}

.cocktail-orange {
  background: #f0d1a5;
  border-radius: 24px;
  position: relative;
}

.cocktail-green {
  background: #c2e297;
  border-radius: 24px;
  position: relative;
}

.products-content__button {
  border-radius: 50%;
  margin-bottom: 41px;
}

.advantages {
  background-color: var(--about-bgc);
  max-width: 1280px;
  padding-bottom: 97px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 139px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__container {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__container {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.advantages__list {
  margin-bottom: -38px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    margin: -15px;
  }
}

.advantages__item {
  width: 230px;
  height: 156px;
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 180px;
    height: 222px;
    -ms-flex-preferred-size: calc(100% / 3 - 60px);
        flex-basis: calc(100% / 3 - 60px);
    margin: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 330px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

.advantages__item::before {
  content: '';
  display: block;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages__item::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item::before {
    margin-bottom: 40px;
  }
}

.advantages__item:first-child::before {
  background-image: url(../images/advantage/advantageIcon1.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:first-child::before {
    background-image: url(../images/advantage/advantageIcon1@2x.png);
  }
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/advantage/advantageIcon2.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(2)::before {
    background-image: url(../images/advantage/advantageIcon2@2x.png);
  }
}

.advantages__item:last-child::before {
  background-image: url(../images/advantage/advantageIcon3.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:last-child::before {
    background-image: url(../images/advantage/advantageIcon3@2x.png);
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 58px;
    margin-bottom: 15px;
  }
}

.advantages__text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 174%;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 176%;
  }
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39%, var(--about-bgc)), color-stop(61%, var(--products-color)));
  background-image: linear-gradient(to bottom, var(--about-bgc) 39%, var(--products-color) 61%);
  padding: 0%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .gallery-container {
    min-width: 786px;
    min-height: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-container {
    min-width: 1200px;
    min-height: 430px;
  }
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: rgba(0, 0, 0, 0);
}

.gallery-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery-link {
  background-attachment: rgba(0, 0, 0, 0);
  padding: 1px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.gallery-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .gallery-link {
    padding: 2px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .gallery-link {
    padding: 3px;
  }
}

.gallery-link__1 {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .gallery-link__1 {
    margin-top: 87px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .gallery-link__1 {
    margin-top: 142px;
  }
}

.gallery-link__2 {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .gallery-link__2 {
    margin-top: 53px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .gallery-link__2 {
    margin-top: 87px;
  }
}

.gallery-link__4 {
  margin-top: 0;
}

.gallery-link__5 {
  max-width: 50%;
}

.gallery-link__6 {
  margin-top: 27px;
}

@media screen and (min-width: 768px) {
  .gallery-link__6 {
    margin-top: 61px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .gallery-link__6 {
    margin-top: 100px;
  }
}

.gallery-link__8 {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .gallery-link__8 {
    margin-top: 33px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .gallery-link__8 {
    margin-top: 53px;
  }
}

.gallery-link__10 {
  margin-top: 43px;
}

@media screen and (min-width: 768px) {
  .gallery-link__10 {
    margin-top: 94px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .gallery-link__10 {
    margin-top: 154px;
  }
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(background-color-icon);
  list-style-type: none;
  text-align: center;
  margin-left: 178px;
  margin-right: 176px;
}

.customer__item {
  position: absolute;
  list-style-type: none;
}

.customer__item {
  background-repeat: no-repeat;
  background-position: center bottom 3px;
  background-size: 100% 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#e1e1e1));
  background-image: linear-gradient(to right, #e1e1e1);
}

.customer__icon {
  /*margin: 28px 165px 240px 61px;*/
  color: var(color-gradient);
}

.reviews {
  background-repeat: no-repeat;
  background-position: center bottom 3px;
  background-size: 100% 2px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 60px;
  text-align: center;
  list-style-type: none;
  margin-left: 178px;
  margin-right: 176px;
}

.contacts-section {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(90%, #fff5f6), color-stop(10%, #ffffff));
  background: linear-gradient(to top, #fff5f6 90%, #ffffff 10%);
  padding-top: 86px;
  padding-bottom: 113px;
}

.contacts-container {
  width: 220px;
  min-height: 427px;
  margin: auto;
}

.card-list__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 21px 43px 20px;
}

.card-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.card-list__item-category {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #f0d1a5;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
}

.card-list__item-foodtruck {
  background: #c2e297;
  border-radius: 4px;
  width: 130px;
}

.card-inform {
  border-bottom: 1px solid #e1e1e1;
}

.card-inform__city {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}

.card-inform__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 25px;
}

.card-schedule {
  margin-top: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.card-schedule__days {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
}

.card-schedule__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #ffa5ba;
}

.card-schedule__time:not(:last-child) {
  margin-bottom: 10px;
}

.card-schedule__time:last-child {
  margin-bottom: 25px;
}

.card-address {
  margin-top: 25px;
}

.address-list__item-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contact-btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  background: #d41342;
  border-radius: 22px;
  border: none;
  width: 161px;
  height: 44px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 17px 17px;
  margin-top: 54px;
}

.contact-franchise {
  color: #d41443;
  background: #ffffff;
  margin-top: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.contact-btn__icon-franchise {
  margin-left: 14px;
}

.contact-btn__icon-locations {
  margin-left: 8px;
}

.footer {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    padding-left: 116px;
    padding-right: 114px;
  }
}

.footer__made {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fea5bb;
  padding-bottom: 17px;
  width: 232px;
}

@media screen and (min-width: 768px) {
  .footer__made {
    font-size: 26px;
    line-height: 1.15385;
    width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__made {
    font-size: 30px;
    line-height: 1.13333;
    width: 474px;
  }
}

.footer__passion {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14706;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-bottom: 43px;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .footer__passion {
    font-size: 48px;
    line-height: 1.14583;
    letter-spacing: 0.06em;
    padding-bottom: 91px;
    width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__passion {
    font-size: 58px;
    line-height: 1.13793;
    width: 500px;
  }
}

.footer__join-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 46px;
}

.footer__list-icon {
  width: 32px;
  height: 32px;
  fill: #fea5bb;
  -webkit-transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer__list-icon {
    width: 34px;
    height: 34px;
  }
}

.footer__list-icon:hover, .footer__list-icon:focus {
  fill: #d41443;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.footer__join-contacts li:not(:last-child) {
  padding-right: 28px;
}

.footer__call {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.02em;
  text-align: right;
  color: #000000;
  padding-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__call {
    font-size: 14px;
    line-height: 1.85714;
  }
}

@media screen and (min-width: 1200px) {
  .footer__call {
    font-size: 16px;
    line-height: 1.875;
  }
}

.footer__tel {
  text-decoration: none;
  color: #d41443;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), font-size 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), font-size 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel:hover, .footer__tel:focus {
  color: #fea5bb;
  font-size: 18px;
}

.footer__rights-reserved {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #907e82;
  padding-top: 22px;
  padding-bottom: 16px;
  width: 150px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__rights-reserved {
    line-height: 1.85714;
    width: 276px;
  }
}

.footer__bottom {
  border-top: 1px solid #e1e1e1;
}

.mob-menu {
  position: fixed;
  background-color: var(--box-menu-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding-left: 21px;
  padding-right: 20px;
  opacity: 1;
  -webkit-transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu .box-container {
  height: 502px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mob-menu.is-hidden {
  left: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: transparent;
  fill: var(--primary-white-color);
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--second-title-color);
}

.mob-list__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--primary-white-color);
}

.mob-list__item:not(:last-child) {
  margin-bottom: 22px;
}

.mob-nav .curent {
  color: var(--second-title-color);
}

.menu-open-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.mob-button {
  height: 44px;
  width: 209px;
  margin-top: 60px;
  margin-bottom: 32px;
  border: transparent;
  border-radius: 22px;
  background: var(--primary-white-color);
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--second-title-color);
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */