@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --header-color: #FFB8CA;
  --box-menu-color: #E17992;
  --primary-white-color: #FFFFFF;
  --second-title-color: #D41443;
  --hero-bgc: #FFA5BA;
  --box-menu-border: #E18298;
  --products-color: #E5E5E5;
  --ice-coffee-color: #F0D1A5;
  --milkshakes-color: #C2E297;
  --about-bgc: #FFF5F6;
  --title-text-color: #000000;
  --about-text-color: #907E82;
  --customer-bgc: #FAFAFA;
  --icon-bgc: #E1E1E1;
  --icon-point-color: #C7133E;
  --icon-second-color: #D9D9D9;
  --icon-hover-color: #D31342;
  --contacs-bgc: rgba(212, 20, 67, 0.1);
  --btn-color: #D41342;
  --footer-icon-color: #FEA5BB;
  --btn-hover-color: #ECEBEB;
}

.link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Titan One", sans-serif;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
    padding-left: 117px;
    padding-right: 117px;
  }
}

.products-up__text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .products-up__text {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .products-up__text {
    margin-bottom: 15px;
  }
}

.products-up__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 31px;
}

@media screen and (min-width: 768px) {
  .products-up__title {
    margin-bottom: 39px;
    margin-top: 15px;
    font-size: 48px;
    line-height: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .products-up__title {
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products-list__item:not(:last-child) {
  margin-bottom: 19px;
}

@media screen and (min-width: 768px) {
  .products-list__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.products-content {
  text-align: center;
}

.products-content__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 22px;
  margin-bottom: 30px;
}

.products-content__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding-left: 44px;
  padding-right: 44px;
}

.cocktail-pink {
  background: #ffb8ca;
  border-radius: 24px;
  position: relative;
}

.cocktail-orange {
  background: #f0d1a5;
  border-radius: 24px;
  position: relative;
}

.cocktail-green {
  background: #c2e297;
  border-radius: 24px;
  position: relative;
}

.products-content__button {
  border-radius: 50%;
  margin-bottom: 41px;
}
/*# sourceMappingURL=main.css.map */