<section class="contacts-section">
  <div class="contacts-container">
    <h3 class="visually-hidden">contacts</h3>
    <ul class="list card-list">
      <li class="card-list__item">
        <p class="card-list__item-category">CAFE</p>
        <div class="card-inform">
          <p class="card-inform__city">Chicago</p>
          <p class="card-inform__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="card-schedule">
          <p class="card-schedule__days">Monday - Friday</p>
          <p class="card-schedule__time">06:00 AM - 10:00 PM</p>
          <p class="card-schedule__days">Saturday - Sunday</p>
          <p class="card-schedule__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="card-address">
          <ul class="list address-list">
            <li class="address-list__item">
              <a class="link address-list__item-link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="address-list__item">
              <a
                class="link address-list__item-link"
                href="mailto:noreply@envato.com"
                target="_blank"
                rel="noopener noreferrer"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="card-list__item">
        <p class="card-list__item-category card-list__item-foodtruck">FOODTRUCK</p>
        <div class="card-inform">
          <p class="card-inform__city">Los Angeles</p>
          <p class="card-inform__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="card-schedule">
          <p class="card-schedule__days">Monday - Friday</p>
          <p class="card-schedule__time">06:00 AM - 10:00 PM</p>
          <p class="card-schedule__days">Saturday - Sunday</p>
          <p class="card-schedule__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="card-address">
          <ul class="list address-list">
            <li class="address-list__item">
              <a class="link address-list__item-link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="address-list__item">
              <a
                class="link address-list__item-link"
                href="mailto:noreply@envato.com"
                target="_blank"
                rel="noopener noreferrer"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="card-list__item">
        <p class="card-list__item-category">CAFE</p>
        <div class="card-inform">
          <p class="card-inform__city">New York</p>
          <p class="card-inform__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="card-schedule">
          <p class="card-schedule__days">Monday - Friday</p>
          <p class="card-schedule__time">06:00 AM - 10:00 PM</p>
          <p class="card-schedule__days">Saturday - Sunday</p>
          <p class="card-schedule__time">08:00 AM - 16:00 PM</p>
        </div>
        <address class="card-address">
          <ul class="list address-list">
            <li class="address-list__item">
              <a class="link address-list__item-link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="address-list__item">
              <a
                class="link address-list__item-link"
                href="mailto:noreply@envato.com"
                target="_blank"
                rel="noopener noreferrer"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
  </div>
  <button class="contact-btn" type="submit">
    Our Locations
    <svg class="contact-btn__icon-locations" width="4" height="8">
      <use href="./images/icons.svg#icon-vector1"></use>
    </svg>
  </button>
  <button class="contact-btn contact-franchise" type="submit">
    Franchise
    <svg class="contact-btn__icon-franchise" width="4" height="8">
      <use href="./images/icons.svg#icon-Vector"></use>
    </svg>
  </button>
</section>
