
<section class="customer__reviews">
    <div class="photo">
      <img class="photo_icon"  src="" alt="" >
    </div>
    <section class="customer">
      <div class="customer__item">
        <svg width=54px height=40px class="customer__icon">
          <use href="./images/icons.svg#icon-quotat"></use>
        </svg>
          <h2 class="customer__item_list">
            <p> 
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
              accumsan
              congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </h2>
      </div>
    </section>

    <div class="reviews">
      <ul class="reviews__item">
        <li>
          Emily, Los Angeles
        </li>
      </ul>
    </div>
    </section>