<div class="container hero overlay">
    <h1 class="hero-tittle">ice cream<br>made with<br><span class="hero-tittle__text">passion</span></h1>
    <ul class="list hero-btn">
        <li class="hero-btn__item"><a class="hero-btn__link link" href="#products">Products</a></li>
        <li class="hero-btn__item"><a class="hero-btn__style link" href="#about">How it’s made?</a></li>
    </ul>
    <p class="hero__text">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod
        tempor<br> incididunt ut labore et</p>
    <button class="btn-arrow" type="button">
        <picture>
            <source srcset="./images/hero/heroBtndesk.png 1x, ./images/hero/heroBtndesk@2x.png 2x"
                media="(min-width: 1200px)">
            <source srcset="./images/hero/heroBtn-tab.png 1x, ./images/hero/heroBtn-tab@2x.png  2x"
                media="(min-width: 768px)">

            <img src="./images/hero/heroBtndesk.png" alt="arrow">
        </picture>
    </button>


</div>